.dialogBg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #111;
    opacity: .3
}

.dialog {
    box-sizing: initial;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1000;
    min-width: 180px;
    min-height: 50px;
    box-shadow: 1px 1px 50px rgba(100,100,100,.3)
}

.dialogTitle {
    height: 42px;
    line-height: 42px;
    background-color: #e8e8e8;
    color: #333;
    font-size: 14px;
    font-weight: 500;
    cursor: move;
    text-indent: 10px;
    border-radius: 2px 2px 0 0
}

.dialogOperate {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10
}

    .dialogOperate::after {
        clear: both
    }

    .dialogOperate > li {
        float: right;
        margin: 0;
        padding: 0;
        width: 44px;
        height: 42px;
        background-size: 35px;
        position: relative;
        transition: all .3s;
        -webkit-transition: all .3s
    }

        .dialogOperate > li::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0
        }

        .dialogOperate > li:hover::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            z-index: 5;
            opacity: .2;
            transition: all .4s;
            -webkit-transition: all .4s
        }

        .dialogOperate > li.white:hover::after {
            background-color: #ccc
        }

        .dialogOperate > li.black:hover::after {
            background-color: #888
        }

        .dialogOperate > li::before {
            content: "";
            width: 30px;
            height: 30px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -15px;
            margin-top: -15px;
            z-index: 6;
            transition: all .3s;
            -webkit-transition: all .3s
        }

        .dialogOperate > li.close {
            opacity: 1;
            filter: alpha(opacity=100)
        }

            .dialogOperate > li.close:hover::after {
                content: "";
                background-color: red;
                opacity: .9;
                transition: all .4s;
                -webkit-transition: all .4s
            }

            .dialogOperate > li.close.black::before {
                background: url(images/disposebtn-black.png) center 1px no-repeat
            }

            .dialogOperate > li.close.white::before {
                background: url(images/disposebtn-white.png) center 1px no-repeat
            }

        .dialogOperate > li.max.black::before {
            background: url(images/disposebtn-black.png) center -29px no-repeat
        }

        .dialogOperate > li.max.white::before {
            background: url(images/disposebtn-white.png) center -29px no-repeat
        }

        .dialogOperate > li.normal.black::before {
            background: url(images/disposebtn-black.png) center -60px no-repeat
        }

        .dialogOperate > li.normal.white::before {
            background: url(images/disposebtn-white.png) center -60px no-repeat
        }

        .dialogOperate > li.newWindow.black::before {
            background: url(images/disposebtn-black.png) center -89px no-repeat
        }

        .dialogOperate > li.newWindow.white::before {
            background: url(images/disposebtn-white.png) center -89px no-repeat
        }

        .dialogOperate > li.refresh.black::before {
            background: url(images/disposebtn-black.png) center -119px no-repeat
        }

        .dialogOperate > li.refresh.white::before {
            background: url(images/disposebtn-white.png) center -119px no-repeat
        }

.dialogContent {
    z-index: 99;
    background-color: #fff;
    overflow-y: auto;
    overflow-x: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 42px;
    bottom: 0
}

    .dialogContent iframe {
        width: 100%;
        height: 100%;
        border: 0;
        margin: 0;
        padding: 0
    }

.dialogResize {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 999;
    cursor: nwse-resize
}

.dialogMarchIn {
    animation: dialog-scaleIn;
    animation-duration: .58s;
    animation-timing-function: cubic-bezier(1,-.04,.03,1.37);
    -webkit-animation: dialog-scaleIn;
    -webkit-animation-duration: .58s;
    -webkit-animation-timing-function: cubic-bezier(1,-.04,.03,1.37)
}

.dialogMarchOut {
    animation: dialog-scaleOut;
    animation-duration: .3s;
    animation-timing-function: cubic-bezier(.78,-.52,.37,1.06);
    animation-fill-mode: forwards;
    -webkit-animation: dialog-scaleOut;
    -webkit-animation-duration: .3s;
    -webkit-animation-timing-function: cubic-bezier(.78,-.52,.37,1.06);
    -webkit-animation-fill-mode: forwards
}

.dialogBgMotionIn {
    animation: dialog-bgFadeIn;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(.7,.25,.73,.95);
    -webkit-animation: dialog-bgFadeIn;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: .4s;
    -webkit-animation-timing-function: cubic-bezier(.7,.25,.73,.95)
}

.dialogBgMotionOut {
    animation: dialog-bgFadeOut;
    animation-fill-mode: forwards;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(.7,.25,.73,.95);
    -webkit-animation: dialog-bgFadeOut;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-duration: .4s;
    -webkit-animation-timing-function: cubic-bezier(.7,.25,.73,.95)
}

.dialogLoadingBg {
    z-index: 101;
    background-color: #fff;
    opacity: .1;
    position: absolute;
    left: 0;
    right: 0;
    top: 42px;
    bottom: 0
}

.dialogLoading {
    width: 110px;
    height: 30px;
    position: absolute;
    left: 5%;
    bottom: 5%;
    z-index: 102
}

.k-line11-1 {
    animation: k-loadingP 2s infinite;
    -webkit-animation: k-loadingP 2s infinite
}

.k-line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb
}

.k-line11-2 {
    animation: k-loadingP 2s infinite;
    animation-delay: .15s;
    -webkit-animation: k-loadingP 2s infinite;
    -webkit-animation-delay: .15s
}

.k-line11-3 {
    animation: k-loadingP 2s infinite;
    animation-delay: .3s;
    -webkit-animation: k-loadingP 2s infinite;
    -webkit-animation-delay: .3s
}

.k-line11-4 {
    animation: k-loadingP 2s infinite;
    animation-delay: .45s;
    -webkit-animation: k-loadingP 2s infinite;
    -webkit-animation-delay: .45s
}

.k-line11-5 {
    animation: k-loadingP 2s infinite;
    animation-delay: .6s;
    -webkit-animation: k-loadingP 2s infinite;
    -webkit-animation-delay: .6s
}

@keyframes k-loadingP {
    0% {
        transform: translateY(0)
    }

    35% {
        transform: translateY(0);
        opacity: .3
    }

    50% {
        transform: translateY(-20px);
        opacity: .8
    }

    70% {
        transform: translateY(3px);
        opacity: .8
    }

    85% {
        transform: translateY(-3px)
    }
}

@-webkit-keyframes k-loadingP {
    0% {
        -webkit-transform: translateY(0)
    }

    35% {
        -webkit-transform: translateY(0);
        opacity: .3
    }

    50% {
        -webkit-transform: translateY(-20px);
        opacity: .8
    }

    70% {
        -webkit-transform: translateY(3px);
        opacity: .8
    }

    85% {
        -webkit-transform: translateY(-3px)
    }
}

@keyframes dialog-bgFadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: .3
    }
}

@-webkit-keyframes dialog-bgFadeIn {
    0% {
        opacity: 0
    }

    100% {
        opacity: .3
    }
}

@keyframes dialog-bgFadeOut {
    0% {
        opacity: .3
    }

    100% {
        opacity: 0
    }
}

@-webkit-keyframes dialog-bgFadeOut {
    0% {
        opacity: .3
    }

    100% {
        opacity: 0
    }
}

@keyframes dialog-scaleIn {
    0% {
        opacity: 0;
        transform: scale(.3);
        -webkit-transform: scale(.3)
    }

    100% {
        opacity: 1;
        transform: scale(1);
        -webkit-transform: scale(1)
    }
}

@-webkit-keyframes dialog-scaleIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.3)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@keyframes dialog-scaleOut {
    0% {
        opacity: 1;
        transform: scale(1)
    }

    100% {
        opacity: .1;
        transform: scale(.7)
    }
}

@-webkit-keyframes dialog-scaleOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1)
    }

    100% {
        opacity: .1;
        -webkit-transform: scale(.7)
    }
}

@keyframes ghost {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(1.03)
    }
}

@-webkit-keyframes ghost {
    0% {
        -webkit-transform: scale(1)
    }

    100% {
        -webkit-transform: scale(1.03)
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(.95);
        -webkit-transform: scale(.95);
        opacity: 0
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        opacity: 1
    }
}

@-webkit-keyframes scaleIn {
    0% {
        -webkit-transform: scale(.95);
        opacity: 0
    }

    100% {
        -webkit-transform: scale(1);
        opacity: 1
    }
}

@keyframes scaleOut {
    0% {
        transform: scale(1);
        opacity: 1
    }

    100% {
        transform: scale(.9);
        opacity: 0
    }
}

@-webkit-keyframes scaleOut {
    0% {
        -webkit-transform: scale(1);
        opacity: 1
    }

    100% {
        -webkit-transform: scale(.9);
        opacity: 0
    }
}
